@model Customer

<h2>Customer Detail</h2>

<p>@Model.customer_id</p>
<p>@Model.sc_no</p>
<p>@Model.customer_name</p>
<p>@Model.customer_address</p>
<p>@Model.customer_contact</p>
<p>@Model.counter_name</p>
<p>@Model.meter_no</p>
<p>@Model.load</p>
<p>@Model.phase</p>
<p>@Model.due_amount</p>
<p>@Model.initial_meter_reading</p>